<h1>Super Nutrition. Wild Energy</h1>
<p>Здрастуйте. Вы получили данное сообщение потому что эта почта была указана при регистрации на нашем сайте</p>
<p>Чтобы подтвердить почтовый адрес кликните на ссылку</p>
<p>
    <a href="{{url}}">Подтвердить</a>
</p>
<p>Если это были не вы то проигнорируйте данное сообщение</p>